In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
db_warehouse = create_engine('postgresql://marcel:4UTebmZgDs7Hyfsq@warehouse:5432/warehouse')
db_replication = create_engine('postgresql://francois:4RzVZ2JmndK@db-slave2:5432/lottostar')

In [2]:
sql_query="""
select date(created_at) as dep_date,
       count(distinct user_id) as uniq_user_deposits,
       count(user_id) as users_total_deposits,
       sum(total_value) as dep_value
from play_transaction
                where transaction_type='1' AND payment_status='1' and created_at > now() - interval '30 days' and created_at < now() - interval '1 day'
        group by 1 order by dep_date, dep_value;
"""

In [3]:
df1 = pd.read_sql_query(sql_query, con=db_warehouse)
df2 = pd.read_sql_query(sql_query, con=db_replication)

In [4]:
df1.tail()

      dep_date  uniq_user_deposits  users_total_deposits  dep_value
25  2018-06-10                1232                  1486  211437.70
26  2018-06-11                1318                  1676  238568.91
27  2018-06-12                1329                  1680  248039.39
28  2018-06-13                1564                  1920  282455.29
29  2018-06-14                 292                   317   40893.50

In [5]:
df2.tail()

      dep_date  uniq_user_deposits  users_total_deposits  dep_value
25  2018-06-10                1232                  1486  211437.70
26  2018-06-11                1318                  1676  238568.91
27  2018-06-12                1329                  1680  248039.39
28  2018-06-13                1564                  1920  282455.29
29  2018-06-14                 292                   317   40893.50

In [6]:
df1['dep_value'].sum() == df2['dep_value'].sum()

True

In [7]:
df1['dep_value_diff'] = df1['dep_value'] - df2['dep_value']

In [8]:
df1[(df1['dep_value_diff'] < 0)]

Empty DataFrame
Columns: [dep_date, uniq_user_deposits, users_total_deposits, dep_value, dep_value_diff]
Index: []

In [9]:
df1['user_total_deposits_diff'] = df1['users_total_deposits'] - df2['users_total_deposits']

In [10]:
temp_deposit_diff = df1[['dep_date', 'user_total_deposits_diff']]

In [11]:
temp_deposit_diff[(temp_deposit_diff['user_total_deposits_diff'] < 0)]

Empty DataFrame
Columns: [dep_date, user_total_deposits_diff]
Index: []