In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
db_warehouse = create_engine('postgresql://marcel:4UTebmZgDs7Hyfsq@warehouse:5432/warehouse')
db_replication = create_engine('postgresql://francois:4RzVZ2JmndK@db-slave2:5432/lottostar')
start_date = '2018-06-11'
end_date = '2018-06-15'

In [2]:
sql_query="""
SELECT play_transaction.created_at::DATE AS date,
       count(play_transaction.id) AS count,
       COALESCE(SUM(play_transaction.total_value), 0) AS total,
       COALESCE(SUM(play_transaction.total_vouchers_used), 0) AS vouchers,
       sum(case
               when transaction_type = '2' then coalesce(play_credits, 0)
               else 0.0
           end) as total_paid,
       COALESCE(SUM(play_transaction.promo_credits), 0) as credits,
       sum(case
               when transaction_type = '1' then COALESCE(play_transaction.total_paid, 0)
               else 0.0
           end) as deposits,
       sum(case
               when transaction_type = '5' THEN COALESCE(play_transaction.play_credits, 0)
               else 0.0
           end) as claimed_winnings
FROM play_transaction
-- LEFT JOIN django_site on play_transaction.site_id = django_site.id
WHERE play_transaction.created_at > '{}' and created_at < '{}'
  -- and created_at <= '2017-12-22 23:59:00'
  AND transaction_type IN ('1',
                           '2',
                           '5')
  AND play_transaction.payment_status = '1'
  AND play_transaction.is_cancelled = False
GROUP BY play_transaction.created_at::DATE
ORDER BY play_transaction.created_at::DATE ASC;
 """.format(start_date, end_date)

In [3]:
df1 = pd.read_sql_query(sql_query, con=db_warehouse)
df2 = pd.read_sql_query(sql_query, con=db_replication)

In [4]:
df1.shape

(4, 8)

In [5]:
df1.tail()

,date,count,total,vouchers,total_paid,credits,deposits,claimed_winnings
0,2018-06-11,87114,1281950.86,1660.0,591375.2,6047.3,238568.91,444296.45
1,2018-06-12,80270,1269439.69,889.9,614606.2,5000.4,248039.39,400898.80
2,2018-06-13,81802,1369137.84,1205.5,681848.6,6044.1,282455.29,397582.35
3,2018-06-14,96961,1310034.60,2077.9,645502.3,4157.7,220712.60,437500.10

In [6]:
df2.shape

(4, 8)

In [7]:
df2.tail()

,date,count,total,vouchers,total_paid,credits,deposits,claimed_winnings
0,2018-06-11,87114,1281950.86,1660.0,591375.2,6047.3,238568.91,444296.45
1,2018-06-12,80270,1269439.69,889.9,614606.2,5000.4,248039.39,400898.80
2,2018-06-13,81803,1369140.84,1205.5,681851.6,6044.1,282455.29,397582.35
3,2018-06-14,96961,1310034.60,2077.9,645502.3,4157.7,220712.60,437500.10

In [8]:
df_diff = df1['total'] - df2['total']

In [9]:
df_diff

0    0.0
1    0.0
2   -3.0
3    0.0
Name: total, dtype: float64