In [17]:
import pandas as pd
import numpy as np

In [18]:
df1 = pd.read_csv('warehouse_bet_dates.csv')
df2 = pd.read_csv('replication_bet_dates.csv')

In [19]:
df1 = df1.sort_values(by=['bet_date'])
df2 = df2.sort_values(by=['bet_date'])

In [20]:
warehouse_june = df1[df1['bet_date'] > '2018-06-01 00:00:00']

In [21]:
replication_june = df2[df2['bet_date'] > '2018-06-01 00:00:00']

In [22]:
replication_june['winnings_sum'].sum()

2067001.2

In [23]:
warehouse_june['winnings_sum'].sum()

2066959.2

In [24]:
df2.head()

   bet_sum  winnings_sum    bet_date
0      9.0          50.0  2017-08-16
1      7.0          50.0  2017-10-17
2      7.0          10.0  2017-11-26
3     30.0         140.0  2017-12-17
4      7.0          10.0  2018-01-14

In [25]:
# df.groupby(['Fruit','Name']).sum()
# df.groupby(['Name', 'Fruit'])['Number'].agg('sum')
winning_summary_repl = df2[['bet_date','bet_sum']]
winning_summary_repl = winning_summary_repl.groupby(['bet_date']).sum()


# winning_summary_repl.sort_values(by=['bet_date'])

In [26]:
df1['winnings_sum'].sum()

2977233.0

In [27]:
df2['winnings_sum'].sum()

2977275.0

In [28]:
df2['winnings_sum'].sum()-df1['winnings_sum'].sum()

42.0

Looks like some entries can have created date far back in past

In [29]:
from datetime import datetime, timedelta
thirty_days_ago = datetime.today() - timedelta(days=30)
df2['bet_date'] =  pd.to_datetime(df2['bet_date'])

In [30]:
df2['bet_date'].head()

0   2017-08-16
1   2017-10-17
2   2017-11-26
3   2017-12-17
4   2018-01-14
Name: bet_date, dtype: datetime64[ns]

In [31]:
thirty_days_ago  = df2[df2['bet_date'] < thirty_days_ago].sort_values(by=['bet_date'])

In [32]:
thirty_days_ago['winnings_sum'].sum()

4750.0